@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2024px,
);
@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./typography.scss";
@import "./card-game.scss";
@import "./input.scss";
@import "./button-main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("/bg-circle-gradient.png"), url("/bg.jpg"), $background;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  color: $light;
}

.hero-1 {
  display: flex;
  align-items: center;
}

.vector-play {
  position: absolute;
  top: -40px;
  right: -20px;
  width: 20%;
}
