h1 {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-size: clamp(32px, 5vw, 96px);
  line-height: clamp(32px, 5vw, 96px);
  padding: 0 8px;
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
